@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: #3c7bbf09 !important;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}
.btn-info{
    background-color: var(--color-main) !important;
    border-color: var(--color-main) !important;
}
.alert {
    padding: 0 !important;
    color: red !important;
    font-size: 14px !important;
}
a {
    color: #030209 !important;
    text-decoration: none !important;
}

.no-margin {
    margin-top: 0 !important;
}
.truncate-multiline {
    display: -webkit-box;               /* برای محدود کردن خطوط */
    -webkit-line-clamp: 5;              /* تعداد خط محدود */
    -webkit-box-orient: vertical;       /* تعیین جهت نمایش */
    overflow: hidden;                     /* پنهان کردن متن اضافی */
    text-overflow: ellipsis;              /* افزودن سه نقطه */
    line-height: 1.5em;                   /* ارتفاع خط، دلخواه */
    max-height: calc(2.5em * 5);          /* بر اساس تعداد خطوط محدود */
}
/* colors */
:root {
    --color-1: #030209;
    --color-2: #0D0C3A;
    --color-3: #1A2569;
    --color-4: #2A4B95;
    --color-main: rgb(60, 123, 191);
    --color-6: #5f89de;
    --color-secondary: #8ACF00;
}

/* SECTION TITLE */

.section-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 60px;
}

.section-title p {
    display: inline;
    padding: 8px 32px;
    border: 2px solid var(--color-main);
    border-radius: 50px;
    color: var(--color-3);
    font-size: 16px;
    font-weight: bold;
    width: 286px;
    text-align: center;
}

.line {
    width: 20%;
    border-bottom: var(--color-main) solid 2px;
}

.section-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4em;
}

.view-more-btn {
    justify-content: space-between;
    color: var(--color-main) !important;
    text-align: left;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: row;
    width: 135px;
}
.view-more-btn i{
    margin-right: 4px;
}
.view-more-btn:hover {
    cursor: pointer;
    color: var(--color-3) !important;
}

/* BUTTON */
.button {
    margin: auto 0 !important;
    font-size: 16px !important;
    border: none !important;
    outline: none !important;
    border-radius: 4px !important;
    transition: all .2s ease-in-out !important;
    color: #fff !important;
    background-color: var(--color-main) !important;
    padding: .5em 1em !important;
    position: relative !important;
    z-index: 1;

}

.btn-outline-primary {
    background-color: white !important;
    color: var(--color-main) !important;
    border: 2px solid var(--color-main) !important;
    z-index: 1 !important;
}

.button i {
    margin-left: 8px !important;
}

.btn-primary::after {
    content: '';
    position: absolute;
    background-color: var(--color-4) !important;
    bottom: 0;
    right: 0;
    top: 0;
    width: 0px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    z-index: -1;
}

.add-for-shop::after {
    background-color: #04ac50 !important;
}

.add-to-favorite::after {
    background-color: #ac0c04 !important;
}

.view-product::after {
    background-color: #524a49 !important;
}

.btn-outline-primary:hover {
    border: 2px solid var(--color-3) !important;
    color: var(--color-3) !important;
}

.btn-primary:hover::after {
    width: 100%;
}

.btn-primary:hover {
    color: #fff !important;
}

.button2 i {
    margin: 0 !important;
}
.btn-success::after{
    background-color: #04ac50 !important;
}
.rounded-btn{
    border-radius: 100px !important;
    transition: all ease-in-out .4s;
}
.rounded-btn:hover{
    background-color: var(--color-3) !important;
}
/* HEADER */
header {
    padding: 12px 0 12px 0;
    width: 100%;
    border-bottom: 0.5px solid #c6c6c6;

}

header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header img {
    width: 60px;
}

.site-name {
    margin: auto 0;
    align-items: center;
    border-right: 2px double var(--color-main) !important;
    padding-right: 8px;
    margin-right: 4px;
}

.site-name h2 {
    line-height: normal;
    color: var(--color-main) !important;
}

.header-right {
    display: flex;
    flex-direction: row;
}

.header-center {
    position: relative;
    margin: auto auto;
    width: 50%;
}

.header-center .search-input {
    width: 100%;
    padding: 8px;
    background-color: rgb(230, 230, 230);
    border: 0.5px solid var(--color-main) !important;
    border-radius: 8px;
}

.header-left {
    float: left;
    flex-direction: row;
    height: 100%;
}

.search-input:focus {
    outline: none;
    border-color: #1f4062;
}

.search-button {
    background-color: var(--color-main) !important;
    font-size: 22px;
    padding: 0 16px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 0;
    transition: all .2s ease-in-out;
    color: #fff;
    border-radius: 8px 0px 0px 8px;
}

.search-button:hover {
    background-color: var(--color-4) !important;
    ;
}
.dropdown-toggle::after{
    position: relative !important;
}
/* NAV */
nav {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.my-navbar {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-size: 14px;
}

.menu,
.info-box {
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    font-size: 14px;
}

.nav-item {
    padding: 6px 4px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.info-box-item {
    padding: 6px 16px;
}

.info-box-item i {
    margin-right: 8px;
    font-size: 16px;
}

.nav-item::after {
    content: '';
    position: absolute;
    background-color: var(--color-main) !important;
    bottom: 0;
    right: 0;
    left: 0;
    height: .1em;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    transform: scaleX(0);

}

.nav-item:hover {
    cursor: pointer;
}

.nav-item:hover::after {
    transform: scaleX(1);
}

.nav-item i {
    font-size: 16px;
    margin: 0 0 0 8px;
}

.dropdown:hover .dropdown-menu {
    display: inline;
}

.container-fluid {
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}

.list-item {
    border: none !important;
    font-size: 12px !important;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x)
}

.header-logo {
    text-align: center;
    /* مرکز چین کردن تگ‌های هدر */
}

.header-search {
    margin-top: 10px;
    /* فاصله از لوگو */
}

#auth-buttons {
    display: none;
    /* پنهان شدن دکمه‌ها در موبایل */
}

.hamburger-menu {
    display: none;
    /* پنهان کردن منوی همبرگر در اندازه‌های بزرگتر */
    position: fixed;
    top: 0;
    left: 0;
    right: -10px;
    opacity: 0;
    bottom: 0;
    background: white;
    /* پس‌زمینه سفید */
    z-index: 1000;
    /* به بالای بقیه عناصر برود */
    padding: 20px;
    /* فاصله از لبه‌ها */
    transition: all .3s ease-in-out;
}

.hamburger-header {
    display: flex;
    justify-content: space-between;
    /* فضای بین عنوان و دکمه بستن */
    align-items: center;
}

.mobile-menu {
    list-style: none;
    /* حذف نقاط لیست */
    padding: 0;
}

.mobile-menu li {
    margin: 10px 0;
    /* فاصله بین آیتم‌های منو */
}

.mobile-menu a {
    text-decoration: none;
    /* حذف زیرخط از لینک‌ها */
    color: black;
    /* رنگ متن لینک‌ها */
}

.hamburger-icon {
    transition: transform 0.3s;
    /* انیمیشن تغییر شکل */
}

.open .hamburger-icon {
    transform: rotate(90deg);
    /* چرخش دکمه همبرگر به حالت close */
}

@media (max-width: 767.98px) {
    .hamburger-menu {
        display: block;
        /* نشان دادن منوی همبرگر فقط در حالت موبایل */
        right: 0;
        opacity: 1;
    }
}

/* BANNER */

.c-item {
    height: 250px;
}

.c-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

@media (max-width: 767.98px) {
    .carousel {
        position: relative;
        width: 100%;
        height: 93px !important;
    }
}

/* categories */
.large-categories,
.categories {
    margin-top: 32px;
}

.categori {
    border-radius: 32px;
}

.cat-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
}

.cat-img:hover,
.Lcat-img:hover {
    cursor: pointer;
    opacity: 90%;
    filter: grayscale(1);

}

.Lcat-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
}


/* RECENT PRODUCTS CAROUSEL */

.product-carousel {
    margin-top: 50px;
    background-color: #f2f8fa;
    width: 100% !important;
}

.product-carousel-control-prev-icon,
.product-carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-color: var(--color-main);
    width: 50%;
    display: block !important;
    background-size: 16px !important;
    justify-content: left;
    padding: 8px !important;
    margin: 8px !important;
    border-radius: 4px !important;
    width: 32px;
    height: 32px;
    transition: opacity .15s ease-in-out;

}

.product-carousel-control-prev-icon:hover,
.product-carousel-control-next-icon:hover {
    opacity: 80% !important;
}

.product-carousel-control-next,
.product-carousel-control-prev {
    position: relative !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: auto !important;
    padding: 16px !important;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1 !important;
    transition: opacity .15s ease-in-out;
}

.controls {
    display: flex;
    width: 100%;
    justify-content: right;
}

.tab-content.show {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card-img-top {
    object-fit: cover !important;
    border-radius: 16px 16px 0 0 !important;
    padding: 0 !important;
    background-color: #fbfbfb;
}
.carousel-card {
    border-radius: 12px !important;
    border: none !important;
    text-align: center !important;
    transition: all 0.3s ease-in-out;
}
.carousel-card:hover{
    box-shadow: 2px 2px 15px #e0e0e0;
}
.card-price {
    font-size: 12px;
    color: green;
}

/* CARE PRODUCTS */
.care-product-container {
    background-color: #f2f8fa;
    padding-bottom: 4em;
}

.care-product {
    display: flex;
    padding: 30px 25px !important;
    border: 2px solid !important;
    border-color: #e6eaee !important;
    margin-bottom: 30px !important;
    transition: all 0.3s ease 0s;
}

.care-product:hover {
    box-shadow: rgba(7, 28, 31, 0.1) 0px 16px 32px;
    border-color: transparent;
}

.product-ratting ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.product-ratting ul li i {
    color: #eaae08;
    margin-left: 4px;
}

.product-ratting {
    margin-bottom: 5px;
}

.care-product-body {
    padding-right: 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}

.product-title {
    font-weight: bold;
    padding: .2rem 0;
}

.product-price del {
    color: gray;
}

.product-price span {
    color: #04ac50;
}
.bg-warning{
    background-color: rgba(255, 193, 7, 0.22) !important;
}

/* BLOG CAROUSEL */
.blog-card-body {
    text-align: right;
}

.blog-card {
    display: flex !important;
    align-items: center !important;
}

.blog-card-img-top {
    width: 390px !important;
    object-fit: cover;
    height: 200px;
    border-radius: 16px 16px 0 0;
}

.blog-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.blog-info {
    margin-bottom: 1rem;
    border-bottom: 1px #ddd solid;
    margin-top: 1rem;
}

.blog-info ul {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.blog-info li {
    font-weight: normal;
    display: inline-block;
    margin-left: 25px;
    position: relative;
    font-size: 14px;
    margin-top: 0;
}

.blog-info li:last-child {
    margin-left: 0;
}

.blog-info li i {
    color: var(--ltn__secondary-color);
    margin-left: 5px;
}

.blog-info li img {
    margin-bottom: 0;
}

.blog-tags a {
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

.blog-tags a::before {
    position: absolute;
    content: ",";
    left: -3px;
}

.blog-tags a:last-child::before {
    display: none;
}

.blog-card-title {
    font-weight: bold;
}

.blog-view-more-btn {
    display: block;
    text-align: left;
}
/* about section */
.about-section{
    margin-top: 3rem;
    margin-bottom: 6rem;
    position: relative;
    border-radius: 24px;
    padding: 4rem;
    width: 100%;
    background-color: var(--color-main);
    color: white;
    text-align: right;
    display: flex;
    justify-content: right;
    height: 450px;
    box-shadow: 5px 2px 14px #9a9a9a;
}
.about-text-container{
    width: 40% !important;
    /*border-left: 1px dashed white;*/
    margin-left: 3rem;
}
.about-item{
   transition: all ease-in-out .2s;
}
.about-item:hover{
    cursor: pointer;
    opacity: 90%;
    filter: grayscale(1);
}
.about-section .section-title{
    display: block;
    position: relative;
    padding: 0;
    margin-top: 0;
    justify-content: right;
}
.about-section .section-title p{
    color: white !important;
    border-color: white;
    justify-content: right;
}
.about-img {
    left: -2%;
    position: absolute;
    bottom: 7%;
    width: 460px;
    border-radius: 12px;
}
.about-txt{
    width: 100%;
    font-size: 16px;
    line-height: 32px;
    padding-left: 1rem;
}
/* footer */
footer {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F2F6F7;
    margin-top: 250px;
    padding-top: 100px;
    flex-wrap: wrap;
    height: 450px;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: #6c757d;
    text-decoration: none;
}


.footer-logo {
    width: 60px;
    height: auto;
    margin-bottom: 1em;
}

.footer-about {
    padding-left: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.footer-quick-access {
    color: var(--color-3);
    font-size: 18px;
}


.quick-access-link:hover {
    color: var(--color-main) !important;
    cursor: pointer;
    margin-right: 10px !important;
}
.row-footer-top-box{
    position: absolute;
    bottom: 60%;
    width: 100%;
    margin:auto 0;
}
.footer-top-box{
    width: 70% !important;
    background-color: var(--color-main);
    border-radius: 12px;
    padding-bottom: 2rem;
    color: white;
    box-shadow: 5px 2px 14px #9a9a9a;

}
.footer-top-box .footer-top-left{
    float: left;
    width: 50%;
}
.footer-top-box .footer-top-left img {
    width: 427px;
    height: auto;
    border-radius: 12px;
}

.footer-top-box .footer-top-right{
    float: right;
    width: 50%;
    line-height: 34px;
}
.email-input{
    border-radius: 300px !important;
}
.email-input-container{
    background-color: white !important;
    border-radius: 330px !important;
    padding: .5rem .5rem;
}
.footer-img {
    width: 100px;
    height: auto;
    position: absolute;
    bottom: 45px;
    left: 214px;
}
.footer-img img{
    width: 40px;
    height: auto;
}
.row-footer-text{
    position: absolute;
    top: 45%
}
.copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin:auto 0;
    padding: 0 0 1rem 0;
    border-top: solid #ddd 1px;
}
.footer-item a{
    transition: all ease-in-out .2s !important;
}
.footer-item a i{
    margin-left: 4px;
}
.footer-item:hover a{
    color: var(--color-main) !important;
    cursor: pointer;
    margin-right: 10px !important;
}
/*********************************************
 SHOP PAGE 
*****************************************/
.sidebar {
    padding: 20px; /* فضای داخلی */
    margin-bottom: 20px; /* فاصله از پایین */
}

.filter-title {
    padding-top: 2em;
    padding-bottom: .5em;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card {
    border-radius: 8px;
    margin-bottom: 15px;
    /* فاصله بین کارت‌ها */
    padding: 10px;
    display: flex;
    align-items: center;
    width: 23% !important;
}

.product-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 10px;
}

.rating {
    color: gold;
    /* رنگ ستاره‌ها */
}


.breadcrumb-area {
    background-color: var(--color-main);
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    border-radius: 4px;
}

.breadcrumb-list ul {
    margin: 0;
    padding: 0;
}

.breadcrumb-list ul li {
    display: inline-block;
    position: relative;
    font-weight: normal;
    color: white !important;
}

.breadcrumb-list ul li:last-child {
    margin-left: 0;
    color: var(--ltn__primary-color);
}


.breadcrumb-list ul li:last-child:after {
    display: none;
}

.shop-card {
    margin-left: 2em;
    border: 1px solid rgba(128, 128, 128, 0.103) !important;
    border-radius: 16px !important;
    padding: 0 !important;
}

.pangination {
    display: flex;
    border-bottom: 0.5px solid #c6c6c6;
    align-items: center !important;
    align-content: center !important;
    flex-wrap: wrap;
    justify-content: center !important;
    border: none;
    padding-bottom: 2em;
}





.single-product .single-product-img {
    max-width: 100%;
    height: 250px;
}

.single-product .rating {
    color: gold;
}

.single-product .product-description {
    margin-top: 15px;
    font-size: 16px;
}

.single-product .product-title {
    font-size: 24px;
    font-weight: bold;
}

.single-product .price {
    font-size: 20px;
    color: #28a745;
}



.contact-form textarea{
    height: 6.5rem;
}
.contact-form textarea:focus {
    border: 1px solid var(--color-main) !important;

}

.form-group {
    margin-bottom: 1rem;
    text-align: right;
}


.side-category ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 16px;
}

.bg-title-sidebar {
    background: rgba(15, 87, 254, 0.1);
}
.cart-increment {
    border: 1px solid #CDCDCD;
    border-radius: 24px;
}
.quantity-right-plus, .quantity-left-minus {
    background-color: transparent;
    color: #fff;
}
.input-cart {
    border-radius: 0 !important;
    text-align: center;
    background-color: #fff;
    border: none !important;
}
.quantity-right-plus i, .quantity-left-minus i {
    color: var(--color-main);
    font-size: 16px !important;
    font-weight: bold !important;
}
/*about page*/
.aboutpage{
    position: relative;
}
.aboutpage-img{
    position: absolute;
    width: 500px;
    height: auto;
    top: -25px;
    right: -25px !important;
    border-radius: 12px;
}
.aboutpage2{
    position: relative;
}
.aboutpage-img2{
    position: absolute;
    width: 500px;
    height: auto;
    top: -25px;
    left: -25px !important;
    border-radius: 12px;
}
.gallery-img {
    width: 200px; /* عرض کامل */
    height: auto; /* ارتفاع ثابت برای همه تصاویر */
    object-fit: cover; /* پوشش تصویر در ابعاد مشخص */
}
.shop-card{
    width: 28% !important;
}
@keyframes showAndFadeOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.animate-appearAndFade {
    animation: showAndFadeOut 2s ease-in-out forwards;
}




/*******************************************************************/

::after,
::before {
    box-sizing: border-box;
}

.header-container {
    width: 1500px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.v-center {
    align-items: center;
}

.header {
    width: 100%;
    padding: 15px;
    z-index: 99;
    position: relative;
    display: flex;
    box-shadow: 2px 3px 8px rgba(126, 126, 126, 0.29);
    border-color: transparent;
}

.header .item-right {
    flex: 0 0 17%;
    text-align: left;
}

.header .item-right .logo a {
    color: #000;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
}

.header .item-center {
    flex: 0 0 61%;
}

.header .item-left {
    flex: 0 0 17%;
    display: flex;
    align-items: center;
}

.item-left a {
    text-align: center;
    width: 50px;
    padding: .7rem .7rem;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 2px 3px 8px rgba(126, 126, 126, 0.24);
}




.header .item-left a {
    color: #000;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.header .item-center .menu>ul>li {
    display: inline-block;
    margin-left: 25px;
    line-height: 50px;
}

.header .item-center .menu>ul>li>a {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    position: relative;
}

.header .item-center .menu>ul>li .sub-menu {
    position: absolute;
    margin-top: 25px;
    padding: 20px 0px;
    z-index: 500;
    background: #fff;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

@media (min-width : 992px) {
    .header .item-center .menu>ul>li.menu-item-has-children:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
    }
}

.header .item-center .menu ul li .sub-menu>ul>li {
    line-height: 1;
}

.header .item-center .menu ul li .sub-menu>ul>li>a {
    display: inline-block;
    padding: 10px 0;
    color: #555;
    text-decoration: none;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}

.header .item-center .menu ul li .single-column-menu {
    min-width: 280px;
    max-width: 350px;
}

.header .item-center .menu ul li .sub-menu.mega-menu {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.header .item-center .menu ul li .sub-menu.mega-menu>.list-item>ul>li {
    line-height: 1;
    display: block;
}

.header .item-center .menu ul li .sub-menu.mega-menu>.list-item>ul>li>a {
    color: #555;
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    transition: color .2s ease-in-out;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}

.header .item-center .menu ul li .sub-menu.mega-menu-column-4 {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}

.header .item-center .menu ul li .sub-menu.mega-menu-column-4>.list-item {
    flex: 0 0 25%;
    padding: 0 15px;
}

.header .item-center .menu ul li .sub-menu.mega-menu-column-4>.list-item .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    font-weight: bold;
    color: #273c75;
    margin-right: -1rem;
    padding: 10px 0;
}

.header .item-center .menu ul li .sub-menu.mega-menu-column-4>.list-item.text-center .title {
    text-align: center;
}

.header .item-center .menu ul li .sub-menu.mega-menu-column-4>.list-item img {
    width: 100%;
    vertical-align: middle;
}

.header .item-center .menu>ul>li:hover>a {
    color: var(--color-3);
}

.header .item-center .menu ul li .sub-menu.mega-menu>.list-item>ul>li>a {
    padding: .7rem 2rem;
    transition: all .2s ease-in-out;
}

.header .item-center .menu ul li .sub-menu>ul>li {
    padding: 0 4rem;
    transition: all .3s ease-in-out;
}

.header .item-center .menu ul li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.header .item-center .menu ul li .sub-menu>ul>li:hover {
    background: var(--color-3);
    color: #000;
}

.mobile-menu-head,
.mobile-nav-trigger {
    display: none;
}

@media (max-width : 991px) {
    .header .item-center {
        order: 3;
        flex: 0 0 100%;
    }

    .header .item-right {
        display: none;
        margin: 0;

    }

    .header .item-right .logo img {
        width: 10%;
    }

    .header .item-left,
    .header .item-right {
        flex: 0 0 auto;
        margin: auto auto;
    }

    .v-center {
        justify-content: space-between;
    }

    .mobile-nav-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .mobile-nav-trigger span {
        width: 24px;
        height: 2px;
        background: #333;
        display: block;
        margin-left: 1rem;
        position: relative;
    }

    .mobile-nav-trigger span::before,
    .mobile-nav-trigger span::after {
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #333;
    }

    .mobile-nav-trigger span::before {
        transform: translateY(-6px);
        -webkit-transform: translateY(-6px);
        -moz-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        -o-transform: translateY(-6px);
    }

    .mobile-nav-trigger span::after {
        transform: translateY(6px);
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
    }

    .header .menu {
        position: fixed;
        left: 0;
        top: 0;
        background: #fff;
        width: 350px;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        box-shadow: 0 0 15px #ccc;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    .header .menu.active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .header .item-center .menu>ul>li {
        display: block;
        line-height: 1;
        margin: 0;
    }

    .header .item-center .menu>ul>li>a {
        padding: 0 15px;
        line-height: 50px;
        height: 50px;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .header .item-center .menu>ul>li>a svg {
        position: absolute;
        height: 50px;
        width: 12px;
        left: 10px;
        top: 0;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        line-height: 50px;
        font-size: 20px;
    }

    .mobile-menu-head {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        align-items: center;
        justify-content: space-between;
        position: sticky;
        background-color: #fff;
        z-index: 501;
    }

    .mobile-menu-head .go-back {
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-right: 1px solid rgba(0, 0, 0, .1);
        text-align: center;
        cursor: pointer;
        display: none;
    }

    .mobile-menu-head .current-menu-title {
        font-weight: 500;
        font-size: 15px;
    }

    .mobile-menu-head .mobile-menu-close {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-left: 1px solid rgba(0, 0, 0, .1);
        text-align: center;
        cursor: pointer;
    }

    .mobile-menu-head.active .go-back {
        display: block;
    }

    .header .menuheader .menu .main-menu {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header .item-center .menu ul li .sub-menu.mega-menu,
    .header .item-center .menu ul li .sub-menu {
        position: absolute;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        margin: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 15px;
        padding-top: 65px;
        display: none;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        overflow-y: auto;
    }

    .header .item-center .menu ul li .sub-menu.active {
        display: block;
    }

    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
        }
    }

    @keyframes slideRight {
        0% {
            opacity: 1;
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
        }

        100% {
            opacity: 0;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
        }
    }

    .header .item-center .menu ul li .sub-menu.mega-menu-column-4>.list-item {
        flex: 0 0 100%;
        padding: 0;
    }

    .header .item-center .menu ul li .sub-menu.mega-menu-column-4>.list-item .title {
        margin-bottom: 20px;
    }

    .header .item-center .menu ul li .single-column-menu {
        min-width: none;
        max-width: none;
    }

    .header .item-center .menu ul li .sub-menu>ul>li>a,
    .header .item-center .menu ul li .sub-menu.mega-menu>.list-item>ul>li>a {
        display: block;
    }

    .header .item-center .menu ul li .sub-menu.mega-menu>.list-item>ul {
        margin-bottom: 15px;
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }

    .overlay.active {
        visibility: visible;
        opacity: 1;
    }

}

/************************************ search box ************************************************/
.search-overlay{
    z-index: 1000;
    position: fixed;
    top: 8%;
    bottom: 80%;
    right: 80%;
    left: 20%;
    background: #273c75f1;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    border-radius: 900px;
}
.search-overlay.active-search{
    opacity: 1;
    border-radius: 0px;
    visibility: visible;
    top:0%;
    bottom: 0%;
    right: 0%;
    left: 0%;

}
.search-box {
    position: absolute;
    z-index: 1001;
    top: 10%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 600px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}
.search-box.active-search{
    top: 50%;
    left: 50%;
    opacity: 1;
    visibility: visible;
}
.search-box .search-form{
    width: 100%;
    position: relative;
}
.search-box .search-form input{
    width: 100%;
    height: 50px;
    border: none;
    font-family: 'vazir';
    outline: none;
    border-radius: 30px;
    padding: 0 30px;
    padding-left: 80px;
}
.search-box .search-form .submit-search{
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 50px;
    border: none;
    color: #ffffff;
    background: var(--color-3);
    font-size: 20px;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.search-box .search-form .submit-search:hover{
    color: #273c75;
}
@media (max-width : 991px){
    .search-overlay{
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        border-radius: 0px;
    }
    .search-box{
        top: 50%;
        left:50%;
    }
}
@media (max-width : 550px){
    .search-box{
        width: 400px;


    }
}
/*************************** user-icon ***************************/
.header-sidebar{
    text-align: center;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 0vh;
    background: #273c75;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
.header-sidebar.active-sidebar{
    visibility: visible;
    opacity: 1;
    height: 100vh;

}

.header-sidebar img{
    width: 130px;
}
.profile-img{
    margin-top: 10%;
    display: block;
    cursor: pointer;
}
.header-sidebar ul{
    margin-top: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
}


.header-sidebar ul li {
    margin-top: 10%;
    text-align: center;
    position: relative;
    font-size: 18px;
    z-index: 40;
    width: 100%;
    top: 20%;
    padding: .5rem 2rem;
    background: transparent;
    border: 2px solid var(--color-3);
    overflow: hidden;
}

.header-sidebar ul li a {
    color: #e6e6e6;
    text-decoration: none;
}

.header-sidebar ul li::before {
    content: '';
    position: absolute;
    background-color: var(--color-3);
    top: 0;
    right: 0;
    width: 100%;
    height: 0px;
    border-radius: 0 0 80% 80%;
    transition: all .7s ease-in-out;
    z-index: -1;
}

.header-sidebar ul li:hover::before {
    height: 85px;
}
.header-side-exit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background: var(--color-3);
    position: absolute;
    color: white;
    font-size: 20px;
    transition: all .2s ease-in-out;
}
.header-side-exit:hover{
    color: #273c75;
}
